* {
    font-family: Consolas, sans-serif;
    font-size: 88px;
    text-align: center;
}

body {
    background-color: #000000;
}

p {
}

h1 {
    font-size: 64px;
    color: #FF530D;
    text-decoration: underline;
}

h2 {
}

button {
    background-color: #FF530D;
    font-weight: bold;
    -moz-border-radius: 30px;
    -webkit-border-radius: 30px;
    border-radius: 30px;
    height: 400px;
    width: 700px;
}

.small-button button {
    background-color: #FF530D;
    font-weight: bold;
    -moz-border-radius: 30px;
    -webkit-border-radius: 30px;
    border-radius: 30px;
    height: 200px;
    width: 350px;
}


input {
    text-align: left;
}
