
<!DOCTYPE html>
<html>

    <head>
        <title>Garage Door Switch</title>
        <link
        href="http://192.168.1.62:8080/static/garage_door.css"
        rel="stylesheet"
        type="text/css">
	<link
	href="http://192.168.1.62:8080/static/apple-touch-icon.png"
	rel="apple-touch-icon">
    </head>

    <body>
        <h1>Garage Door Control</h1><br>

        <form action="/" method="POST">
            <button>OPEN<br>CLOSE</button>
            <!-- <input type="submit"> -->
        </form>

        <form action="/" method="POST">
            <button class=".small-button">HALF<br>OPEN</button>
        </form>

    </body>

</html>
